<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Ingresá a tu cuenta</title>
</head>
<body class="bodylogin">
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <div class="form" action="#" method="GET">
                <form action="/" method="get">
                    <input class="input" type="search" name="search" id="search" placeholder="Buscar productos, marcas y más...">
                    <button class="submit" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <div><ul class="ul1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="ul2">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <div class="divlogin"><form class="loginform" action="/" method="get">
    <input class="loginname" type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" minlength="5" required>
    <input class="loginpass" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" minlength="5" required><br>
    <button class="buttonsubmitlogin" type="submit">Enviar</button>
</form></div>
<footer>
    <section>
        <div><i class="fas fa-credit-card"></i></div>
        <h5>Paga con tarjeta o en efectivo</h5>
        <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>

    </section><br>
    
    <section>
        <div><i class="fas fa-gift"></i></div>
      <h5>Envío gratis desde los $2.500</h5>
      <p>
          Solo por estar registrado en Mercado Liebre tenes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
      </p>
  </section><br>
  
  <section>
     <div><i class="fas fa-user-shield"></i></div>
      <h5>Seguridad de principio a fin</h5>
      <p>
           ¿No te gusta ? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegido.
           
           
      </p>
  </section>
  <section>
     <p class="copyright">Copyright © 1999 MercadoLiebre S.R.L</p> 
  </section>
</footer>
</body>
</html>